            <section class="section projects-section">
                <h2 class="section-title"><i class="fa {{ .Site.Params.projects.icon }}"></i>{{ i18n "projects" }}</h2>
                <div class="intro">
                    <p>{{ with .Site.Params.projects.intro }}{{ . | markdownify }}{{ end }}</p>
                </div>
				{{ range .Site.Params.projects.list }}
                <div class="item">
                    <span class="intro"><a href="{{ .url }}">{{ with .title }}{{ . | markdownify }}{{ end }}</a></span> - <span class="project-tagline">{{ with .tagline }}{{ . | markdownify }}{{ end }}</span>
                </div>
				{{ end }}
            </section>
